$font-prim: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$bg-color: #f0f0f0;
$nav-color: #fff;
$footer-color: #0a1f1c;
$prim-color: #3a8479;
$sec-color: #133833;
$text-color: #484848;
$pad-fir: 0.5em;

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin knap($bg-color: $prim-color, $padding: 0.8em 1em) {
  background-color: $bg-color;
  padding: $padding;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
