@use "var";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var.$font-prim;
  background-color: var.$bg-color;

  p {
    font-size: 16px;
    color: var.$text-color;
    line-height: 1.5;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: var.$text-color;
  }
}

img {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

header {
  grid-column: 1/6;
  @include var.flex($justify: space-between);
  background-color: var.$nav-color;
  border-bottom: 4px solid var.$prim-color;
}

nav {
  height: 5em;
  padding: 1em;
  @include var.flex($justify: space-between);
  img {
    width: 70px;
  }
  ul {
    @include var.flex;
    list-style-type: none;
  }
  a {
    padding: var.$pad-fir;
    color: var.$text-color;
    margin: var.$pad-fir;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: var.$prim-color;
  }
}

.mobile-nav {
  .bars {
    display: none;
    cursor: pointer;
  }
}

.toggleShow {
  display: flex;
  flex-direction: column;
}

.active {
  color: var.$prim-color;
}

.header-img {
  position: relative;
  margin-bottom: 1em;

  .banner-tekst {
    position: absolute;
    top: 25%;
    left: 5%;
  }
  h1 {
    font-size: 3.5vw;
  }
  p {
    font-size: 2vw;
  }
  a {
    @include var.knap;
    position: absolute;
    &:hover {
      background-color: var.$sec-color;
      transition: 0.3s ease-in-out;
    }
  }
}

.bg-billede-mobil {
  display: none;
}
